<h1>Student Form</h1>

<%= form_tag students_path do %>
<%= text_field_tag : 'student[first_name]' %>

<%= submit_tag "Submit Student" %>
<% end %>



  it 'ensures that the new form submits content and renders form content' do
    visit new_student_path

    fill_in 'student[first_name]', with: "Margaery"
    fill_in 'student[last_name]', with: "Tyrell"

    click_on "Submit Student"